* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    min-width: 100px;
    min-height: 100px;
    background: #ffffff;
}

/*------------------------------------------------------------------------------------*/

.navBar {
    width: 100%;
    height: 15vh;
    max-height: 100px;
    padding: 35px 35px;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    font-size: 15px;
    background-color: #77B5FE ;
}

.navBar #navAutre {
    border-radius: 5px;
}

.navBar #navTitre {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    font-size: 50px !important;
    border-radius: 5px;
}

.navBar #navDeconnexion {
    border-radius: 5px;
}

/*------------------------------------------------------------------------------------*/

#divSelect {
    transform: translate(3vw, 5vh);
    width: 23vw;
    height: 75vh;
    float: left;
    border-radius: 5px;
    background-color: #F5F2F0;
}

#divSelect h3{
    font-size: 15px;
}

#divSelect h3 img{
    margin: 1% 1% 0;
    width: 15px;
    cursor: pointer;
    float: right;
}

#divSelect #selectGraphique {
    width: 96%;
    height: 14%;
    margin: 2%;
    border-radius: 5px;
    position: relative;
}

#divSelect #selectGraphique #menuAjoutCourbe{
    width: auto;
    height: 35%;
    background-color: #ffffff;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#divSelect #selectGraphique #menuAjoutCourbe button{
    width: auto;
    height: 70%;
}

#divSelect #selectSerre {
    width: 96%;
    height: 14%;
    margin: 2%;
    border-radius: 5px;
    font-size: 20px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#divSelect #selectSerre #lstSerre{
    width: 50%;
    height: 50%;
    border-radius: 5px;
    cursor: pointer;
}

#divSelect #selectChapelle {
    height: 14%;
    margin: 2%;
    border-radius: 5px;
}

#divSelect #selectChapelle #lstChapelle {
    width: 50%;
    height: 50%;
    border-radius: 5px;
    cursor: pointer;
}

#divSelect #selectCarte {
    width: 96%;
    height: 14%;
    margin: 2%;
    border-radius: 5px;
}

#divSelect #selectCarte #lstCarte{
    width: 50%;
    height: 50%;
    border-radius: 5px;
    cursor: pointer;
}

#divSelect #selectCapteur {
    width: 96%;
    height: 14%;
    margin: 2%;
    border-radius: 5px;
}

#divSelect #selectCapteur #lstCapteur{
    width: 50%;
    height: 50%;
    border-radius: 5px;
    cursor: pointer;
}

#divSelect #selectPlage {
    width: 96%;
    height: 14%;
    border-radius: 10px;
    margin: 2%;
}

#divSelect #selectPlage button {
    width: 75%;
    height: 75%;
    border-radius: 25px;
    margin: 2%;
    font-size: 18px;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #77B5FE;
    border: none;
    cursor: pointer;
}
#divSelect #selectPlage button:hover {
    background-color: #25a2ff;
    cursor: pointer;
}

#model {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1000;
}

#model-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#model label {
    font-weight: bold;
}

#model input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#model button {
    padding: 8px 12px;
    background: #77B5FE;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#model button:hover {
    background: #25a2ff;
}

#ajoutCourbeDiv #selectSerre {
    width: 96%;
    height: 14%;
    margin: 2%;
    border-radius: 5px;
    font-size: 20px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

#ajoutCourbeDiv #selectSerre #lstSerre{
    width: 50%;
    height: 50%;
    border-radius: 5px;
}

#ajoutCourbeDiv #selectChapelle {
    height: 14%;
    margin: 2%;
    border-radius: 5px;
}

#ajoutCourbeDiv #selectChapelle #lstChapelle {
    width: 50%;
    height: 50%;
    border-radius: 5px;
}

#ajoutCourbeDiv #selectCarte {
    width: 96%;
    height: 14%;
    margin: 2%;
    border-radius: 5px;
}

#ajoutCourbeDiv #selectCarte #lstCarte{
    width: 50%;
    height: 50%;
    border-radius: 5px;
}

#ajoutCourbeDiv #selectCapteur {
    width: 96%;
    height: 14%;
    margin: 2%;
    border-radius: 5px;
}

#ajoutCourbeDiv #selectCapteur #lstCapteur{
    width: 50%;
    height: 50%;
    border-radius: 5px;
}

#ajoutCourbeDiv #selectPlage {
    width: 96%;
    height: 14%;
    border-radius: 10px;
    margin: 2%;
}

#ajoutCourbeDiv #selectPlage button {
    width: 75%;
    height: 75%;
    border-radius: 25px;
    margin: 2%;
    font-size: 18px;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #77B5FE;
}
#ajoutCourbeDiv #selectPlage button:hover {
    background-color: #25a2ff;
}

.model {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 23vw;
    height: 75vh;
    background-color: #F5F2F0;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1000;
}

.model button {
    padding: 8px 12px;
    background: #77B5FE;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.model button:hover {
    background: #25a2ff;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*------------------------------------------------------------------------------------*/

#divGraphiques{
    width: 68vw;
    height: 75vh;
    float: right;
    flex: 1;
    transform: translate(-3vw, 5vh);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

#divGraphiques canvas {
    width: 48%;
    margin: 1%;
}

#divGraphiques #Graphique {
    height: 95%;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #F5F2F0;
}

#divGraphiques #Graphique img{
    margin: 1% 1% 0;
    width: 15px;
    cursor: pointer;
    float: right;
}

#divGraphiques #infoGraphique {
    height: 5%;
    width: 100%;
    border-radius: 10px;
    background-color: #F5F2F0;
}

#divGraphiques #infoGraphique span{
    display: inline-block;
    width: 24%;
    text-align: center;
}